:root{
    scroll-behavior: smooth;
    --primary-theme-color: #333;
    --secondary-theme-color: #282828;
    --text-color: #fff;
    --shadow-color: #888888;
    --button-color: #61dafb;
    --button-color-active: #fff;
    --button-text-color: #0000;
    --padding-section: 2em 0;
    --padding-container: 0 2rem;
    --primary-highlight: #61dafb;
    --secondary-highliht: #ffd700;
    --border-radius:0.5rem;
    --all-transition: 0.25s;
}


.body{
    font-family: 'Ubuntu Mono', monospace;
    background-color: #011627;
    color: var(--text-color);
    margin:0;
    min-height: 200vh;
}
.header{
    width: 100%;
    position: sticky;
    top: 0;
}
.header-nav{
    padding: 0.5em 0;
}
.header-nav__container{
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: var(--padding-container);
    gap: 2rem;
}
.header-nav__link-logo-container{
    width: 70px;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    border-radius: 50%;
    transition: var(--all-transition);
}
.header-nav__link-logo-container:hover{
    background-color: rgb(255, 255, 255);
}
.header-nav__logo{
    width: 100%;
}

.header-nav__menu-icon-label{
    font-size: 2rem;
    cursor: pointer;
    transition: var(--all-transition);
}
.header-nav__menu-icon-label:hover{
    text-shadow: 0px 0px 40px rgb(223, 223, 223);
}
.header-nav__menu-icon-checkbox{
    display: none;
}

.header-nav__menu-icon-checkbox:checked + .header-nav__menu-link-list{
    left:0;
}


.header-nav__menu-link-list{

    position: fixed;
    top:100px;
    left: 100%;

    width: 100vw;
    height: calc(100vh - 100px);
    background-color: #5C7AFF;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0;

    margin-top:0;
    transition: var(--all-transition);
}



/* .header-nav__menu-link-item{
} */
.header-nav__menu-link{
    position: relative;
    color:#fff;
    text-decoration: none;
}

.header-nav__menu-link::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ffffff;
    position:absolute;
    bottom: -0.2rem;
    left: 0;
    transition: var(--all-transition);
}
.header-nav__menu-link:hover::after{
    width: 100%;
}

.text--medium{
    font-size: 2rem;
    font-weight: 700;
}